<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Application</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="card">

        <h1>Edit Application</h1>

        <form method="POST">

            <label>Company Name</label>

            <input
                type="text"
                name="company"
                value="{{ application['company'] }}"
                required
            >

            <label>Job Role</label>

            <input
                type="text"
                name="role"
                value="{{ application['role'] }}"
                required
            >

            <label>Application Date</label>

            <input
                type="date"
                name="application_date"
                value="{{ application['application_date'] }}"
                required
            >

            <label>Status</label>

            <select name="status">

                <option value="Applied"
                    {% if application['status'] == 'Applied' %}selected{% endif %}>
                    Applied
                </option>

                <option value="Shortlisted"
                    {% if application['status'] == 'Shortlisted' %}selected{% endif %}>
                    Shortlisted
                </option>

                <option value="Interview"
                    {% if application['status'] == 'Interview' %}selected{% endif %}>
                    Interview
                </option>

                <option value="Selected"
                    {% if application['status'] == 'Selected' %}selected{% endif %}>
                    Selected
                </option>

                <option value="Rejected"
                    {% if application['status'] == 'Rejected' %}selected{% endif %}>
                    Rejected
                </option>

            </select>

            <label>Interview Date</label>

            <input
                type="date"
                name="interview_date"
                value="{{ application['interview_date'] or '' }}"
            >

            <label>Notes</label>

            <textarea name="notes">{{ application['notes'] or '' }}</textarea>

            <button type="submit">
                Update Application
            </button>

        </form>

    </div>

</div>

</body>
</html>
